<div class="main">
      <div class="search">
      <%= form_tag request.path, :method => 'get' do %>
      <% content_tag :label do %>
    Singer:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
<% end %>
</div>
<h2>Play it for me at the...</h2>
<h1><%= link_to 'SAA Jam 2012!', topics_path %></h1>

<p></p>

<table>
  <tr>
    <th>This amazing song...</th>
    <th>By this artist...</th>
    <th><span class="heart">&#x2665;</span></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td>"<%= link_to(topic.description, topic) %>"</td>
    <td>&nbsp;<%= pluralize(topic.votes.length, "vote") %>&nbsp;/&nbsp;<%= link_to '+1', votes_path(:topic_id => topic.id), :method => :post %></td> 
  </td>
  </tr>
<% end %>
</table>

<h3><%= link_to 'Who\'s Up Next?', new_topic_path %></h3>

<p><%= will_paginate @topics %></p>

</div>
