<div class="main">
      <div class="search">
      <%= form_tag request.path, :method => 'get' do %>
      <% content_tag :label do %>
    Search:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
<% end %>
</div>
<h2>Play it for me at the...</h2>
<h1><%= link_to 'SAA Jam 2012!', topics_path %></h1>

<p></p>

<table>
  <tr>
    <th>Song</th>
    <th>Artist</th>
    <th><span class="heart">&#x2665;</span></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td>&#8220;<%= link_to(topic.title, topic) %>&#8221;</td>
    <td><%= link_to(topic.description, topic) %></td>
    <td>&nbsp;<%= pluralize(topic.votes.length, "vote") %>&nbsp;/&nbsp;<%= link_to '+1', votes_path(:topic_id => topic.id), :method => :post %></td> 
  </td>
  </tr>
<% end %>
</table>

<h3><%= link_to 'Submit a request →', new_topic_path %></h3>
<h3><%= link_to 'About the SAA Jam 2012 →', '/about' %></h3>

<p><%= will_paginate @topics %></p>

</div>
