<div class="main">
      <div class="search">
      <%= form_tag request.path, :method => 'get' do %>
      <% content_tag :label do %>
    Search:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
<% end %>
</div>
<h1>About the SAA Jam 2012</h1>

<p>The SAA Jam 2012 will take place on Thursday, August 9th, during the All Attendee Reception at the <a href="http://www2.archivists.org/conference/2012/san-diego">Society of American Archivists’ Annual Meeting</a> in San Diego, California.</p>

<p>This event is designed to be an open jam session, where conference attendees can share their musical talents in an informal setting that will (we hope) provide entertainment for others. Although a core group of musicians has committed to performing, others may decide to join on the spur of the moment, or for a particular song.</p>

<p>The <%= link_to 'SAA Jam 2012 Suggestitron', topics_path %> is a way for you (yes, you!) to request songs to be played at this event, as well as a way to vote for songs others have suggested that you think should be played. There are no guarantees that any of these songs will be played (just like at any other concert, all requests for “Free Bird” will not be honored), but these suggestions will give the musicians some ideas of songs to play that the audience wants to hear.</p>

<p>To add a new song, click on “<%= link_to 'Submit a request', new_topic_path %>” and then enter the details of the song you want to have played. To vote for a song someone else has already added, click on the +1 button next to the song.</p>

<p>We’ll see you in San Diego for the SAA Annual Meeting and the SAA Jam 2012!</p>



<h3><%= link_to 'Submit a request →', new_topic_path %></h3>
<h3><%= link_to 'Home  →', topics_path %></h3>


</div>
